<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="com.main.mybatis.dao.UserDetailsDAO">

	<select id='getUsernameNotFriendByUserid' parameterType='UserDetails' resultType='UserDetails'>
		SELECT 
		USER_ID as userId, USER_NAME as userName
		FROM USER_DETAILS
		WHERE USER_ID!=#{userId} AND USER_ID NOT IN (SELECT FRIENDS_ID FROM FRIENDS_DETAILS WHERE USER_ID=#{userId} AND PENDING_FLAG=1) 
		AND USER_NAME LIKE #{userName}
	</select>

	<select id='getUsernameNotFriendByEmailid' parameterType='UserDetails' resultType='UserDetails'>
		SELECT 
		USER_ID as userId, USER_NAME as userName
		FROM USER_DETAILS
		WHERE USER_ID!=#{userId} AND USER_ID NOT IN (SELECT FRIENDS_ID FROM FRIENDS_DETAILS WHERE USER_ID=5) AND EMAIL_ID=#{emailId}
	</select>

	<resultMap type='UserDetails' id='UserResultMap'>
		<id property='userId' column='USER_ID' />
		<result property='userName' column='USER_NAME' />
		<result property='userPassword' column='USER_PASSWORD' />
		<result property='emailId' column='EMAIL_ID' />
		<result property='insDate' column='INS_DATE' />
		<result property='noFriends' column='NO_OF_FRIENDS' />
	</resultMap>

	<select id='getUserByuserId' parameterType='int' resultMap='UserResultMap'>
		SELECT * FROM USER_DETAILS
		WHERE USER_ID=#{userId}
	</select>

	<update id='updateUser' parameterType='UserDetails'>
		UPDATE USER_DETAILS
		SET
		USER_NAME = #{userName},
		EMAIL_ID = #{emailId},
		USER_PASSWORD = #{userPassword}
		WHERE 
		USER_ID = #{userId}
	</update>
	
</mapper>
